@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
}
textarea, input, select {
    outline: none;
}
.bg-pastry {
    background-image: url("../assets/images/pastry-bg.jpg");
    background-size: cover;
    background-position: fixed;
}
.bg-contour {
    background: url('../assets//Contourbg.svg') no-repeat center center fixed;
    background-size: cover;
}
@media print {
    @page {
      size: 9cm 14cm;
    }
  }